
  @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=IBM+Plex+Sans:ital@1&family=Martian+Mono:wght@500;600&family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&family=Poppins:wght@300;400;500;600&display=swap');

/* 

footer{
    padding: 3rem 0;
    margin-top: 7rem;
    font-size: 0.9rem;
    background: var(--color-primary);
    text-align: center;
    color: var(--color-lite);
}
footer a{
color: var(--color-bg);
}
.footer__logo{
font-size: 2rem;
margin-bottom: 2rem ;
font-weight: 600;
display: inline-block;
font-family: 'Montserrat', sans-serif;
}
.footer__links{
    display: flex;
justify-content: center;
margin: 0 auto;
gap: 2rem;
flex-wrap: wrap;
}
.footer__social-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer__social-links a{
    display: flex;
    background: var(--color-bg);
    color: #eee;
    border: 1px solid transparent;
    border-radius: 0.7rem;
    padding: 0.8rem;
    position: relative;
    top: 30px;


}
.footer__social-links a:hover{
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}
.footer__copyright{
    color: var(--color-bg);
    margin-bottom: 4rem;
}
*/


/* ========   MEDIA QUERIES FOR MOBILE ======= */
/*@media screen and (max-width: 600px) {
    .footer__social-links{
        margin-bottom: 2.6rem;
    }
    .footer__links{
        flex-direction: column;
        gap: 1rem;
    }
    .footer__copyright{
position: relative;   
top: 20px;



}


} */