.container .testimonial__container{
    width: 40%;
    padding-bottom: 14rem;
}

.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 0.2rem solid var(--color-primary-variant);
    margin: 0 auto 1rem;

}
.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}
.client__review{
    color: var(---color-light);
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
    font-weight: 300;
}

 /* ======  MEDIA QUERIES FOR MEDIUM DEVICES (up to 767px) ======  */
 @media screen and (max-width: 1024px) {
.testimonial__container{
    width: 60%;
}
.client__review{
text-align: start;
line-height: normal;
margin: 3px;
}

 }



  /* ======  MEDIA QUERIES FOR SMALL DEVICES (up to 767px) ======  */
  @media screen and (max-width: 767px) {
   .testimonial__container{
   
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    }
    .client__review{
        width: 78vw;
    text-align: start;
    line-height: normal;
    margin: 3px;
    }
    section > h5{
        font-size: 14px;
        width: 10rem;
    text-align: initial;
    position: relative;
    right: 0.6rem;
    }


  }
